.root{
    -fx-background-color: #e0f2ff;
    -fx-text-fill: #48709c;
}
.button{
    -fx-background-color: #c7d7f9;
    -fx-text-fill: #354c7c;
    -fx-border-color: #ddeff6;
    -fx-border-radius: 5;
}
.label {
    -fx-text-fill: #354c7c;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:#c7d7f9 ;
}

.tab-pane .tab:selected{
    -fx-background-color:#e0f2ff;
}
.tab{
    -fx-background-color:#c7d7f9 ;
}
.pane{
    -fx-background-color: #e0f2ff;
}
.list-view {
    -fx-background-color: #fafcff;
}

.list-cell:filled:selected:focused {
    -fx-background-color: #294169;
    -fx-text-fill: #eff5f6 ;
}
.list-cell:even{
    -fx-background-color:#fafcff ;
}
.list-cell:odd{
    -fx-background-color:#e7edf9 ;
}
.combo-box{
    -fx-background-color: #c7d7f9;
    -fx-text-fill: #354c7c;
    -fx-border-color: #ddeff6;
    -fx-border-radius: 5;
}
.choice-box{
    -fx-background-color: #c7d7f9;
    -fx-text-fill: #354c7c;
    -fx-border-color: #ddeff6;
    -fx-border-radius: 5;
}
.text-field{
    -fx-background-color: #fafcff;
}
.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}



